* {
    padding: 0;
    border: 0;
    margin: 0;
}

header, main {
    background-color: cadetblue;
}

body {
    background-color: rgb(243, 243, 28);
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
}

@font-face {
    font-family: 'alex_brushregular';
    src: url(fuentes/AlexBrush-Regular.ttf),
         url(fuentes/alexbrush-regular-webfont.woff) ,
         url(fuentes/alexbrush-regular-webfont.woff2);
}

main {
    font-family: 'alex_brushregular' !important;
}

#canciones li:nth-child(odd) {
    background-color:cornflowerblue;
}

@media all and (min-width: 320px) {
    header h1 {
        text-align: center;
        font-family: 'Caveat, cursive';
        font-size: 2.3rem;
    }

    figure {
        max-width: 100%;
        margin: 0.3rem 0;
    }

    img {
        width: 100%;
    }

    aside a {
        display: block;
        max-width: 100%;
        padding: 0.4rem 0.2rem;
        color: white;
    }

    nav li {
        margin: 0.5rem 0;
        background-color: mediumblue;
    }

    #form {
        color: white;
        background-color: blueviolet;
        padding: 1rem;
        border: 0.5rem black solid;
    }

    #form legend {
        font-size: 1.1rem;
        padding-bottom: 0.5rem;
    }

    #form section {
        padding-bottom: 0.5rem;
    }


    p {
        padding: 0.4rem;
        font-size: 1.5rem;
    }

    footer p{
        font-size: 1rem;
    }

    footer {
        border-top: solid 0.2rem mediumblue;
        border-bottom: solid 0.2rem mediumblue;
    }

    /*Canciones*/

    #canciones {
        display: flex;
        flex-direction: column;
    }

    audio {
        max-width: 95%;
    }

    #canciones h2 {
        text-align: center;
        padding-bottom: 0.5rem;
    }

    #canciones li {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: blue;
        color: white;
        margin-top: 0.7rem;
        padding: 1rem;
    }

    /*Clip*/

    .videos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1.5rem;
        border-top: solid 0.1rem rgb(71, 70, 70);
    }

    video {
        max-width: 95vw;
        height: 30vh;
    }

    .videos h2 {
        text-align: center;
        margin-top: 1rem;
    }

    .videos iframe {
        max-width: 95vw;
        height: 30vh;
        padding-bottom: 1rem;
    }

    #galeria figure {
        max-width: 100%;
        padding: 0 0.3rem;
        font-size: 1.5rem;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: solid 0.1rem rgb(71, 70, 70);
    }

    #galeria figcaption {
        font-weight: bolder;
    }

}

@media all and (min-width: 780px) {

    /*Index*/

    header {
        padding: 1rem;
        background-color: rgb(243, 243, 28);
        border-bottom: solid 0.2rem mediumblue;
        border-top: solid 0.2rem  mediumblue;
    }

    header h1 {
        font-size: 4rem;
    }

    nav li a {
        padding: 2rem;
        color: white;
    }

    #form {
        color: white;
        background-color: blueviolet;
        padding: 1rem;
        border: 0.5rem black solid;
    }

    #form legend {
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }

    #form section {
        padding-bottom: 1rem;
    }

    #section-main {
        display: flex;
        flex-direction: row;
    }

    #section-main main {
        width: 80%;
        padding: 1rem;
    }

    #section-main aside {
        min-width: 30%;
        max-width: 30%;
        text-align: center;
    }

    #section-main nav li {
        margin: 2rem 0;
    }

    #section-main a {
        padding: 1.3rem 0;
        font-size: 1.1rem;
    }

    #section-main a:hover, #section-main a:focus {
        background-color: blue;
    }

    #section-main figure {
        float: left;
        margin: 0;
        padding: 0;
        width: 50%;
        padding-right: 1rem;
    }

    #section-main p {
        font-size: 1.6rem;
    }

    /*Galeria*/

    #galeria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #galeria figure {
        width: 31%;
        border: none;
        margin-left: 1.3rem;
        padding: 0;
        padding-top: 0.7rem;
    }

    #galeria img {
        width: 100%;
    }

    /*Clip*/

    iframe {
        width: 46%;
    }

   
}